aiohttp
aiosqlite
discord_ios
python-dotenv
pytz
datetime
instaloader
brotlipy
aiodns 
psutil 
dis
asyncpg
disdick
matplotlib
jishaku
xxhash
pm2
humanize
pydantic
chat_exporter
tuuid

beautifulsoup4
lxml
loguru